* {
    margin: 0px;
    padding: 0px;
    /* to stop the mobile resizing that occurs normally */
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
  }

/* Global Styles */

body {
    background-color: #121111;
    color: #c7c7c7;
    font-family: "Space Mono", monospace;
    margin: 4;
    padding: 12px;
}

h1, h2, h3, h4 {
    margin: auto;
    color: #f7f7f7;
}

a {
    color: #63ce95;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style-type: none;
    padding-left: 10pt;
    padding-right: 10pt;
}

header {
    text-align: center;
    margin-bottom: 10px;
}

header h1 {
    font-size: 2.5em;
    color: #63ce95;
}

header nav a {
    margin-right: 10px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

section {
    margin: 32px;
    padding: 12px;
    border: 1px solid #2d2c2c;
    border-radius: 12px;
    background-color: #1d1c1c;
}

.site-intro, .formal-education, .presentations-lectures, .projects, .self-learning {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #3e3e3e;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #3e3e3e;
}

td {
    background-color: #2e2e2e;
}

.project-list {
    list-style-type: circle; /* Apply circle list style to list items */
}

.project-item {
    display: flex;
    justify-content: space-between;
}

.project-details a {
    margin-right: 10px;
}